<h3> Search friend </h3> <br>
<% form_for(:user, :url => search_user_search_index_path, :html => { :method => "get"}) do |f|%>
	<%= text_field_tag :search, "search....." %>
	<%= f.submit "Search"%>
<% end %>

