
 <script type="text/javascript" src="javascripts/galleria/galleria-1.2.5.min.js"></script>


<div id="gallery">
            <img src="/images/app.jpg" />
            <img src="/images/cocacola1.jpeg" />
            <img src="/images/cocacola2.jpg" />
			<img src="/images/app.jpg" />
            <img src="/images/cocacola1.jpeg" />
            <img src="/images/cocacola2.jpg" />
			<img src="/images/app.jpg" />
            <img src="/images/cocacola1.jpeg" />
            <img src="/images/cocacola2.jpg" />
			<img src="/images/app.jpg" />
            <img src="/images/cocacola1.jpeg" />
            <img src="/images/cocacola2.jpg" />
</div>
        <script>
            Galleria.loadTheme('javascripts/galleria/themes/classic/galleria.classic.min.js');
            $("#gallery").galleria({
                width: 600,
                height: 500
            });
        </script>