<footer>
  <ul>
    <li><small class="copytight">&copy; 2010-<%= Time.now.year %> <a href="">Abhi</a></small></li>
    <li>
       <%= link_to 'Devise test application with Facebook, Google, Openid Login.', 'http://localhost:3000' %>
    </li>
  </ul>
</footer>